@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
    background: radial-gradient(666px at 0.4% 48%, rgb(246, 246, 248) 0%, rgb(239, 239, 247) 97.5%);    
  margin: 0;

}


.main-container {
    background-image: url(IMG_8519.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    min-height: 100vh;
    color: #faf4f4;
  }

.welcome-pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.center-content {
  flex-grow: 1;
  display: flex;

  flex-direction: column;
  justify-content: space-around;
}
.welcome_text{
    margin-top: 25rem;
    font-size: 5em;
}
.invite {
  font-size: 1.4rem;
 margin-top: 20rem;
 color: #fdbb2d;
 text-shadow: 4px 3px 2px rgba(16, 15, 15, 0.74);
}

.welc_btn {
  background-color: transparent;
  border: 2px solid #f8eeee;
  border-radius: 15px;
  color: #faf4f4;
  cursor: pointer;
  font-family: 'Lora', serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.9rem;
  padding: 16px 35px;
  text-align: center;
  align-self: self-end;
  margin-bottom: 0.7rem;
}

.welc_btn:disabled {
  pointer-events: none;
}

.welc_btn:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(246, 239, 239, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.welc_btn:active {
  box-shadow: none;
  transform: translateY(0);
}

.second_page{
    display: none;
}


/* ------------------------------- */

.style_favs_container img{
   inline-size: 100%;
    border-radius: 13px;
    aspect-ratio: 16/13;
    object-fit: cover;
    
}
.style_favs_container{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 37%;
  gap: 1rem;
  

  overflow-x: auto;
  overscroll-behavior-inline: contain; 
}
.fav{
  display: flex;
  justify-content: center;
  align-items: center;
 text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}






.label{
    font-size: 1.3em;
  
}
.label_span{
font-size: 2rem;
}
.search{
   display: flex;
   align-items: center;
   justify-content: center;
  min-height: 85px;
  
}
form {
    position: relative;
    width: 30rem;
    background:  #57bd84;;
    border-radius: 0.7rem;
    

  }
  input, .search_btn {
    height: 5rem;
    font-family:'Lato', sans-serif;
    border: 0;
    color:  #2f2f2f;
    font-size: 1.8rem;

  }
  input[type="search"] {
    width: 100%;
    background:#fff;
    padding: 0 1.6rem;
    border-radius: 0.7rem;
    transition: 0.3s;
    z-index: 1;
    position: relative;
    display: block;
    
  }
  .search_btn {
    display: none; 
    position: absolute;
    top: 0;
    right: 0;
    width: 6rem;
    font-weight: bold;
    background:  #57bd84;
    border-radius: 1rem;
  }
  input:not(:placeholder-shown) {
    border-radius: .7rem 0 0 .7rem;
    width: 25rem;
    + .search_btn{
      display: inline-block;
    }
  }
  .searc_label {
    position: absolute;
   
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
.title_container{
    
    background: url(1.jpg) center/cover no-repeat;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title_text{
    color: rgba(255, 255, 255, 0.8); /* Adjust the alpha value for the desired transparency */
      text-align: center;
      text-shadow: 2px 2px 4px rgba(31, 61, 3, 0.8);
      font-size: 5rem;
}
.trending h2{
    font-size: 3rem;
    padding-left: 1rem;
}
.category_title{
   align-self: center;
   width: 100%;
   height: 50px;
   text-align: center;
   
}
.category_title h3{
    display: inline-block;
    font-size: 30px;
    padding-top: 15px;
}
.navbar_container {
    list-style-type: none;
    align-self: center;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 1rem;
}
.navbar_ul{
  display: flex;
  justify-content: space-evenly;
}
.navbar_container a{
    color: rgb(246, 40, 8);
    padding: 14px 10px;
    text-decoration: none;
    font-size: 1.3rem;
    display: inline-block;
}
.navbar_container li{
    display: inline-block;
}


.navbar_container li a:hover {
    background-color: #a3c995;
    border-radius: 10px;
    color: #181717;
  }


.results_container{
    display: none;

}
.hidden {

  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 41%;
  gap: 1rem;
  padding: 0.3rem;

  overflow-y: auto;
  overscroll-behavior-inline: contain;
}
.hidden img{
  inline-size: 100px;
   border-radius: 13px;
   aspect-ratio: 16/12;
   object-fit: cover;
   
}
.style_favs{
  text-align: center;
}

.search{
    display: flex;
    flex-direction: column;
    
}
input{
    flex-basis: 100%;
}

/* _______________________________________ */

#salad_ID{
  display: none;
}

#breakfast_ID{
  display: none;
}

#lunch_ID{
  display: none;
}
#pasta_ID{
  display: none;
}

.salad_items , .lunch_items , .breakfast_items ,.pasta_items {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 37%;
  gap: 1.5rem;
  padding: 0.3rem;

  overflow-x: auto;
  overscroll-behavior-inline: contain;

}

.snaps_inline{
  scroll-snap-type: inline mandatory;
}
.snaps_inline > * {
scroll-snap-align: start;

}

.salad , .lunch , .breakfast , .pasta{
 
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.categories_container img{
  inline-size: 100%;
}

.salad_container p ,.lunch_container p , .breakfast_container p , .pasta_container p{
  display: none;
}



