@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500;1,700&family=PT+Serif:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,700;1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin-bottom: 7vh;
}

body {
  background: radial-gradient(
    666px at 0.4% 48%,
    rgb(246, 246, 248) 0%,
    rgb(239, 239, 247) 97.5%
  );
}

.main-container {
  background-image: url(imagess/additional_pic/IMG_8519.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: #faf4f4;
}

.welcome-pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.center-content {
  flex-grow: 1;
  display: flex;
}
.welcome_text {
  margin-top: 25rem;
  font-size: 7em;
}
.invite {
  font-size: 1.4rem;
  margin-top: 20rem;
  color: #fdbb2d;
  text-shadow: 4px 3px 2px rgba(16, 15, 15, 0.74);
}

.welc_btn {
  background-color: transparent;
  border: 2px solid #f8eeee;
  border-radius: 15px;
  color: #faf4f4;
  cursor: pointer;
  font-family: "Lora", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.9rem;
  padding: 16px 35px;
  text-align: center;

  margin-bottom: 4rem;
}

.welc_btn:disabled {
  pointer-events: none;
}

.welc_btn:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(246, 239, 239, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  cursor: pointer;
}

.welc_btn:active {
  box-shadow: none;
  transform: translateY(0);
}

.second_page {
  display: none;
}

/* ------------------------------- */

.random_trendy_container img,
.categories_container img,
.hidden img {
  inline-size: 100%;
  border-radius: 13px;
  aspect-ratio: 16/13;
  object-fit: cover;
}

.random_trendy_container,
.salad_items,
.lunch_items,
.breakfast_items,
.pasta_items {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 45%;
  gap: 1rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.second_page_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trendy_recipes .label_span {
  font-size: 2rem;
}

.second_page_search_bar {
  display: flex;
  flex-direction: column;

  align-items: center;

  margin-top: 2rem;
  min-height: 60px;
}
form {
  position: relative;
  width: 30rem;
  background: #57bd84;
  border-radius: 0.7rem;
}
input,
.search_btn {
  height: 5rem;
  font-family: "Lato", sans-serif;
  border: 0;
  color: #2f2f2f;
  font-size: 1.8rem;
}
input[type="search"] {
  width: 100%;
  background: #fff;
  padding: 0 1.6rem;
  border-radius: 0.7rem;
  transition: 0.3s;
  z-index: 1;
  position: relative;
  display: block;
}
.search_btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  font-weight: bold;
  background: #57bd84;
  border-radius: 1rem;
}
input:not(:placeholder-shown) {
  border-radius: 0.7rem 0 0 0.7rem;
  width: 25rem;
  + .search_btn {
    display: inline-block;
  }
}
.search_label {
  position: absolute;

  height: 1px;
  width: 1px;
  overflow: hidden;
}
.title_container {
  background: url(imagess/additional_pic/1.jpg) center/cover no-repeat;
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title_text {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(31, 61, 3, 0.8);
  font-size: 5rem;
}
.trending h2 {
  font-size: 3rem;
  padding-left: 1rem;
}
.category_title {
  align-self: center;
  width: 100%;
  height: 50px;
  text-align: center;
}
.category_title h3 {
  display: inline-block;
  font-size: 30px;
  padding-top: 15px;
}
.navbar_container {
  list-style-type: none;
  align-self: center;
  width: 100%;
  height: 50px;
  text-align: center;
  margin-top: 1rem;
}
.category_ul {
  display: flex;
  justify-content: space-evenly;
}
.navbar_container a {
  color: rgb(246, 40, 8);
  padding: 14px 10px;
  text-decoration: none;
  font-size: 1.3rem;
  display: inline-block;
}
.navbar_container li {
  display: inline-block;
}

.navbar_container li a:hover {
  background-color: #a3c995;
  border-radius: 10px;
  color: #181717;
  cursor: pointer;
}

.results_container {
  display: none;
}
.hidden {
  grid-auto-flow: row;

  gap: 1rem;
  padding: 0.3rem;
  aspect-ratio: 16/13;
  overflow-y: auto;
  overscroll-behavior-inline: contain;
  width: 100%;
}
.noResults_found {
  background-repeat: no-repeat;
}
.hidden img {
  inline-size: 100px;
  border-radius: 13px;
  aspect-ratio: 16/13;
  object-fit: cover;
  background-repeat: no-repeat;
}
.noResults_found {
  display: none;
}

.noResults_found img {
  width: 100%;
}
input {
  flex-basis: 100%;
}

/* _______________________________________ */

#salad_ID,
#pasta_ID,
#breakfast_ID,
#lunch_ID {
  display: none;
}

.snaps_inline {
  scroll-snap-type: inline mandatory;
}
.snaps_inline > * {
  scroll-snap-align: start;
}

.trendy_recipes,
.salad,
.lunch,
.breakfast,
.pasta {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-top: 1.1rem;
  margin-left: 1.2rem;
  text-align: center;
  border-radius: 0.8rem;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.recipes_title {
  padding-top: 1rem;
  font-size: 1.3em;
}

.ingredients {
  display: none;
}

.preparation {
  display: none;
}

/* styling recipes that are clicked */

.once_clicked_graph {
  display: flex;
  position: absolute;
  font-size: 1.1em;
  inline-size: 100%;
  height: auto;
  border-radius: 20px;
  border: 2px solid rgba(62, 129, 62);
  background-color: rgba(213, 197, 197, 0.5);
  backdrop-filter: blur(1px);

  justify-content: center;
}
.once_clicked_graph::before {
  content: "Ingredients";

  position: fixed;
  top: 0;
  width: 100%;

  display: block;
  padding-block: 0.5rem;
  font-weight: 800;
  font-size: 2rem;
  color: #46484a;
  font-family: "Courier New", Courier, monospace;
}
.once_clicked_graph::after {
  content: "Read More";

  position: fixed;
  bottom: 0;
  width: 100%;
  height: 18px;
  color: #ebf3eb;
  display: block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-block: 0.3rem;
  background-color: rgba(62, 129, 62);
  border-radius: 20px;
}
.recipe_title_div {
  padding: 1rem;
}
.once_clicked_graph p {
  width: fit-content;

  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

.common_class_forAll_recipe {
  position: relative;
}

.ingredients_list {
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  font-weight: 700;
  aspect-ratio: 16/13;
  overflow: hidden;
  padding: 30px 1rem 0;
  font-family: Arial, Helvetica, sans-serif;
}

.prep_info {
  display: none;
}

/* full info style */

.twice_clicked_graph {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
  min-height: 200px;
}

#full_recipe_info_section {
  display: none;
}

.full_recipe_img_div img {
  width: 340px;
  height: 330px;
  border-radius: 7px;
  box-shadow: 0px 12px 34px 11px rgba(134, 143, 222, 0.2);
}

.full_recipe_img_div {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  background-color: #fff;
  margin-top: 7vh;
}
.prep_info_div {
  font-size: 2rem;
  color: #be1f03;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}
.prep_info_div,
.prep_inf_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.full_recipe_info {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 340px;
  gap: 1.2rem;
  padding: 2rem;
}

.full_recipe_title {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  margin: 1.4rem;
}

.ingredients_list,
.twice_clicked_graph p {
  flex: 1;
  font-size: 1.2em;
  line-height: 1.5;
}
.ingredients_list {
  text-wrap: nowrap;
}
.twice_clicked_graph p {
  white-space: pre-line;
}

.prep_inf_container {
  display: none;
  font-size: 1.1rem;
}

.full_recipe_title_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prep_text {
  background-color: #ffffffd9;
}
.ingredients_list_clone,
.prep_text_container {
  background-color: #ffffffd9;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding: 2rem;
}

.prep_text_container {
  font-size: 1.8rem;
  line-height: 2.3rem;
}
.ingredients_list_clone li {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
}

.ingredients_list_clone li:hover {
  background-color: #c2e0f5;
  color: rgb(235, 101, 101);
  cursor: pointer;
}
.ingredients_title,
.prep_title_div {
  font-size: 2.2rem;
  padding: 1rem;
}
.fullrecipe_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  font-size: 20px;

  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  border-radius: 10px;
  position: fixed;
  width: 100%;
  z-index: 99999;
  top: 0;
  height: 7vh;
  text-align: center;
}
.nav_bar {
  display: none;
}

.back_click {
  border: none;
  background-color: transparent;
  font-size: 20px;
}
.menu_style {
  display: flex;

  flex-direction: column;
  align-items: end;
}
.nav_bar_items {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  border: 1px inset rgba(49, 187, 236, 0.2);

  border-radius: 8px;
  padding: 1rem;
  margin-right: 1.6rem;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(74, 144, 226, 0.2);
  line-height: 1.4em;
  margin-top: 7vh;
}

.nav_bar_items a {
  display: block;
  text-decoration: none;
  color: rgb(243, 237, 237);
  text-align: start;
  flex: 1;
}

.nav_bar_items a:hover {
  cursor: pointer;
  color: #57b5f8;
}
.menu_bar:hover {
  cursor: pointer;
}
.back_click:hover {
  cursor: pointer;
}
.common_class_forAll_recipe:hover {
  cursor: pointer;
}
.category_ul:hover {
  cursor: pointer;
}
.second_pg_menu {
  position: relative;
  display: flex;

  align-self: flex-end;
}

.common_class_forAll_recipe::before {
  content: "Ingredients\A\▾";
  white-space: pre;
  min-block-size: 100%;
  min-inline-size: 100%;
  border-radius: 13px;
  background-color: rgba(62, 129, 62, 0.5);
  display: block;
  position: absolute;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 900;
}

.common_class_forAll_recipe:hover::before {
  transform: scale(1);
  transition: transform ease-out 150ms, bottom ease-out 150ms;
}
footer {
  display: none;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  border-radius: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
  height: 7vh;
  text-align: center;
}
.footer_div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0.5rem;
}

.fa-solid:hover {
  color: #ed4e32;
}
.button_F {
  font-size: 26px;
  border: none;
  background-color: transparent;
}
.sorted_categories {
  display: grid;

  grid-template-columns: repeat(3, 12rem);
}

.heart_btn {
  border: none;
  margin-bottom: 1rem;
  background-color: transparent;
  font-size: 2rem;
  color: #c9c9c9;
  opacity: 0.5;
  cursor: pointer;
}
.heart_btn:hover {
  color: #be1f03;
  font-size: 3rem;
}
.chosens_div{
  display: grid;
  grid-template-columns: repeat(3, 12rem);
}
.heart_btn.active{
  color: #be1f03;
}